/*-----------------------------------------------------------------------------------*/
/*	CSS for WordPress Meta Boxes
/*-----------------------------------------------------------------------------------*/

#post-settings label,
#pages-settings label,
#portfolio-page-settings label,
#portfolio-project label {
	margin-right: 10px;
}

#post-settings input,
#pages-settings input,
#portfolio-page-settings input,
#portfolio-project input {
	width: 100%;
	margin-bottom: 20px;
}

#portfolio-page-settings input[type=checkbox] {
	width: auto;
}

#pages-settings input { margin-bottom: 0px; }

#portfolio-project input#lightbox_enable,
#post-settings input#share,
#portfolio-project input#share {
	width: auto;
	margin-top: 3px;
}

.ncolor_selector option { padding:3px;}
.ncolor_selector option span { display:inline-block; width:10px; height:10px;}

.ncolor_selector .rosso, .corner-ribbon.rosso { background-color:red;}
.ncolor_selector .blu, .corner-ribbon.blu { background-color:blue;}
.ncolor_selector .giallo, .corner-ribbon.giallo { background-color:yellow;}
.ncolor_selector .verde, .corner-ribbon.verde { background-color:green;}
.ncolor_selector .arancione, .corner-ribbon.arancione { background-color:orange;}
.ncolor_selector .nero, .corner-ribbon.nero { background-color:black;}